.b-button.m-wrapper {
  display: inline-block;
  padding: 0 7px;
  position: relative;
}
.b-button.m-wrapper:before,
.b-button.m-wrapper:after {
  content: "";
  height: 42px;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
}
.b-button.m-wrapper:before {
  background-image: url("../img/border-radius/orange/left-side.png");
  left: 0;
  width: 7px;
}
.b-button.m-wrapper:after {
  background-image: url("../img/border-radius/orange/right-side.png");
  right: 0;
  width: 7px;
}
.b-button.m-wrapper .button {
  padding: 9.5px 33px 11px 33px;
  background: #ffd700;
  font: 1.5em "Droid Sans Bold", sans-serif;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
}
.b-button.m-wrapper .button:focus {
  outline: 0;
}
.b-button.m-wrapper .button:hover {
  color: #363b41;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font: 12px "Quicksand Regular", sans-serif;
  min-width: 980px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
.l-wrapper-header {
  background: #2a2e33;
  height: 100px;
}
.l-wrapper-jumbotron {
  background: #3cc5f1;
}
.b-header {
  max-width: 1180px;
  margin: auto;
  height: 100%;
}
.b-header > .b-header_logo {
  height: 100%;
}
.b-header > .b-header_logo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.b-header > .b-header_logo h3 {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  font: 2.5em "Droid Sans Bold", sans-serif;
}
.b-header > .b-header_logo h3 > span {
  color: #ffd700;
}
.b-header > .b-header_logo > span {
  color: #ffffff;
  font-size: 1.17em;
  text-transform: capitalize;
  vertical-align: middle;
}
.main-nav {
  float: right;
  height: 100%;
  width: 56%;
}
.main-nav > li {
  height: 100%;
  padding: 0 2%;
  float: left;
}
.main-nav > li#active {
  background: #1e2125;
  position: relative;
}
.main-nav > li#active:after {
  content: "";
  position: absolute;
  background: #ffd700;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
}
.main-nav > li > a {
  height: 100%;
  display: block;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav > li > a:visited {
  color: #bfbfbf;
}
.main-nav > li > a:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.b-jumbotron {
  max-width: 1180px;
  margin: auto;
  text-align: center;
  color: #ffffff;
  padding: 81px 0;
}
.b-jumbotron > .jumbotron_text-capitalize {
  text-transform: capitalize;
  font-size: 2.5em;
  padding: 0 0 15px;
}
.b-jumbotron > .jumbotron_header {
  text-transform: uppercase;
  font-size: 5em;
  border-top: 1px dotted #ffffff;
  border-bottom: 1px dotted #ffffff;
  display: inline;
  font-family: "Droid Sans Bold", sans-serif;
  padding: 5px 0;
}
.b-jumbotron > .jumbotron_text-uppercase {
  display: block;
  padding: 15px 0 0;
  text-transform: uppercase;
  font-size: 2.5em;
}
.b-form.m-price {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 101px;
  max-width: 1020px;
  padding: 0 1.4%;
  background: #2a2e33;
  margin: auto;
}
.b-form.m-price:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.b-form.m-price > * {
  margin: 0 -4px 0 0;
  vertical-align: middle;
}
.b-form.m-price > label {
  display: inline-block;
  width: 256px;
  padding: 0 13px 0 0;
  overflow: hidden;
}
.b-form.m-price > label > span {
  color: #ffd700;
  font-size: 1.5em;
  font-family: "Quicksand Light", sans-serif;
  padding: 0 0 0 11px;
}
.b-form.m-price > label > .wrapper-label {
  position: relative;
  padding: 0 7px 0 7px;
  margin: 3px 0 0;
}
.b-form.m-price > label > .wrapper-label > .calendar {
  position: absolute;
  top: 0;
  left: 7px;
  bottom: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  background: url("../img/sprite.png") no-repeat 100% 100%;
}
.b-form.m-price > label > .wrapper-label .left-border-radius {
  background-image: url("../img/border-radius/white/left-side.png");
  width: 7px;
  float: left;
}
.b-form.m-price > label > .wrapper-label > input,
.b-form.m-price > label > .wrapper-label > select {
  display: block;
  width: 100%;
  border: none;
}
.b-form.m-price > label > .wrapper-label > input:focus,
.b-form.m-price > label > .wrapper-label > select:focus {
  outline: none;
}
.b-form.m-price > label > .wrapper-label > select {
  padding: 13px 0;
}
.b-form.m-price > label > .wrapper-label input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 0 11px 20px;
}
.test .out {
  background: #f00;
}
.test .in {
  width: 400px;
  margin: 0 -100px 0 0;
  background: #00f;
}
